{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            {% for comment in comment %}
            <ul>
                <li style="font-size: 20px; font-weight: bold;">Comment :{{comment.comment}}</li>
                <h5 style="font-weight: bold; font-size: 20px; text-decoration: underline; color: darkblue;">Posted
                    By:{{comment.user.username}}</h5>
                <a href="/delete_comment/{{comment.id}}" class="btn btn-danger">Delete Comment</a>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}